//apis_data
.apis_data{
	display: block;
	overflow: hidden;
	background: url("../images/polygon-bg.png") no-repeat;
	background-size: cover;
	padding-top: 90px;
	h2{
		color: #fff;
		font: 500 36px/45px $font;
		
	}
	P{
		color: rgba(255, 255, 255, 0.8);
		padding-top: 20px;
	}
	.api_cont{
		float: left;
		display: inline-block;
		max-width: 505px;
		padding-top: 15px;
	}
	img{
		float: right;
		max-width: 100%;
	}
	.api_cont_col{
		padding-right: 0;
	}
	h4{
		color: #fff;
		font: 500 18px/1 $font; 
		padding-bottom: 20px;
		padding-top: 70px;
	}
	.input-group{
		background: #fff;
		padding: 10px;
		.form-control{
			border: 0;
			box-shadow: none;
			outline: none;
			border-radius: 0;
			font: 400 15px/35px $font;
			color: #8a92a8;
			padding: 0 15px;
			height: auto;
			@include placeholder{
				color: #8a92a8;
			}
			&:focus{
				@include placeholder{
					color: transparent;
				}
			}
		}
		.input-group-append{ 
			border: 0;
			border-radius: 0;
			width: 66px;
			.theme_btn{
				font-size: 15px;
				line-height: 35px;
				min-width: 66px;
				background: $hover;  
				border: 0;
				border-radius: 0;
				padding: 0;
				text-align: center;
				@include transition;
				cursor: pointer;
				&:hover, &:focus{
					background: $bc;
					color: #fff;
				}
			} 
		}
	}
}
//apis_data

//meet_yop
.meet_yop{
	display: block;
	overflow: hidden;
	padding-top: 110px;
	.meet_row{
		display: block; 
		margin: 0 auto;
		max-width: 770px;
		text-align: center;
		h2{
			font: 500 36px/1 $font;
			color: $heding;
			padding-bottom: 20px;
		} 
		.yop_video{
			padding-top: 60px;
			border-radius: 10px;
			display: block; 
			position: relative;
			z-index: 1; 
			margin-bottom: 50px;
			&:before{
				content: "";
				position: absolute;
				right: -50px;
				top: 15px; 
				background: url("../images/dots-sm-2.png") no-repeat;
				width: 129px;
				height: 135px;
				z-index: -1;
			}
			&:after{
				@extend :before;
				bottom: -45px;
				right: auto;
				left: -50px;
				top: auto;
			}
			img{
				max-width: 100%;
			}
			.popup-youtube{
				position: absolute;
				bottom: 20px;
				left: 25px;
				font-size: 20px;
				line-height: 64px;
				width: 64px;
				color: #fff;
				background: $hover;
				display: block;
				border-radius: 50%;
				text-align: center;
				&:hover, &:focus{
					background: $bc;
				}
			}
		}
	}
	.our_story{
		padding-top: 60px;
		h2{
			font: 500 36px/1 $font;
			color: $heding;
			padding-bottom: 20px;
			padding-top: 20px;
		} 
		p{
			padding-bottom: 15px;  
		}
		.story_img{
			img{
				padding-left: 30px;
			}
		}
	}
}
//meet_yop