//footer_area
.footer_area{
	display: block;
	overflow: hidden; 
	padding-top: 90px;
	position: relative;
	z-index: 1;    
	background-size: cover;
	.footer_logo{
		margin-bottom: 20px; 
		address{
			font: 400 16px/28px $font;
			color: $pfont;
			display: block;
			padding-top: 35px;
			margin: 0;
			padding-bottom: 25px;
			a{
				display: block;
				padding-top: 5px;
				color: rgba(24, 24, 24, 0.902);
				&.fsa{
					padding-top: 20px;
				} 
				&:hover, &:focus{ 
					color: $bc;
				}
			}
		}
		.footer_social{ 
			padding-bottom: 30px; 
		}
		.app_btn{
			a{
				margin-top: 10px;
				display: inline-block;
				border-radius: 10px;
				&:hover, &:focus{
					box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
	.footer_widget{ 
		padding-bottom: 50px;
		h4{
			font: 500 20px/1 $font;
			color: #242425;
			padding-bottom: 37px; 
		}
		.footer_nav{
			li{
				a{
					font: 400 16px/38px $font;
					color: $pfont;
					display: block;
					&:hover, &:focus{
						color: $bc;
					}
				}
			}
		} 
		&.fw_2{
			padding-left: 40px;
		}  
	} 
	
	.copy_right{   
		padding: 35px 0;
		border-top: 1px solid #f2f1f9;
		p{  
			color: rgba(36, 36, 37, 0.8);
			line-height: 38px;
			a{
				color: rgba(36, 36, 37, 0.8);
				&:hover, &:focus{
					color: $bc;
				}
			}
		}
		.c_nav{
			text-align: right;
			li{
				display: inline-block;
				padding-right: 10px;
				&:last-child{ 
					padding: 0;
				}
				a{
					font: 400 15px/38px $font;
					color: $pfont;
					display: block;
					&:hover, &:focus{
						color: $bc;
					}
				}
			}
		} 
	} 
} 
.footer_social{  
	li{
		display: inline-block; 
		padding-right: 5px; 
		&:last-child{
			padding-right: 0;
		}
		a{ 
			display: inline-block;
			color: #575757;
			font-size: 18px; 
			line-height: 44px;
			width: 44px;
			border-radius: 50%;
			text-align: center;
			&:hover, &:focus, &.active{ 
				background: $hover;
				color: #fff;
			}
		}
	}
}
.footer_2{ 
	background: #111a34 url("../images/footer-bg.png") no-repeat right bottom;
	padding-top: 120px;
	.footer_widget {
		h4{
			color: #fff;
		}
		.footer_nav li a{
			color: rgba(255, 255, 255, 0.8);
		}
	}
	.fw_2{
		padding-left: 25px;  
	}
	.copy_right{
		border-top: 1px solid #212b49;
		p{
			color: rgba(255, 255, 255, 0.8);
			img{
				margin-right: 20px;
			}
			a{
				color: rgba(255, 255, 255, 0.8);
			}
		}
		.footer_social{
			float: right;
			padding-top: 4px;
			padding-right: 25px;
			li a{
				color: #fff;
			}
		}
		.app_btn{
			float: right;
		}
	}
	.cr_2{
		.location{
			display: flex;
			align-items: center;
			line-height: 28px;
		}
		.footer_social{
			padding: 0; 
			display: inline-block;
			float: none;
		}
		.c_p{
			float: right;
		}
	}
}